<div class="show-all-header">
  <button class="back-btn" (click)="goBack()">
    <img src="/images/right.svg" class="back-arrow" alt="Back" />
  </button>
  <h2 class="show-all-title">{{ category?.header }}</h2>
</div>
<div class="show-all-grid">
  <ng-container *ngFor="let item of category?.data">
    <a class="show-all-card-link" [href]="item.canonicalUrl">
      <div class="show-all-card">
        <div class="card-plus-icon-wrapper"
             (mouseenter)="item._hover = true"
             (mouseleave)="item._hover = false">
          <img class="card-plus-icon"
               [src]="item._hover ? '/images/add_second.svg' : '/images/add_first.svg'"
               alt="Add" />
          <span class="card-plus-badge">Lisa lemmikutesse</span>
        </div>
        <img
          *ngIf="getBestPhotoUrl(item)"
          [src]="getBestPhotoUrl(item)"
          alt="{{ item.heading }}"
          class="show-all-card-img"
        />
        <div class="show-all-card-title">{{ item.heading }}</div>
      </div>
    </a>
  </ng-container>
</div>
