:root {
  --brand-bg: #20394c;
  --brand-header-shadow1: #20394c;
  --brand-header-shadow2: #000;
  --brand-header: #fff;
  --brand-header-link: #a59d9d;
  --brand-header-link-hover: #c4c3c2;
  --brand-header-link-active: #ffd600;
  --brand-card-plus-badge-bg: #20394c;
  --brand-card-plus-badge-border: #fff;
  --brand-card-plus-badge-text: #fff;
  --brand-card-img-border: #fff;
  --brand-arrow-bg-grad-end: #20394c;
  --brand-arrow-bg-grad-start: #2e4a62;
}

body {
  background: var(--brand-bg);
}
